[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "==1.1.5"
attrs = "==18.1.0"
basho-erlastic = "==2.1.1"
certifi = "==2018.4.16"
funcsigs = "==1.0.2"
more-itertools = "==4.2.0"
pluggy = "==0.6.0"
protobuf = "==2.6.1"
py = "==1.5.4"
pytest = "==3.6.3"
riak = "==2.7.0"
six = "==1.11.0"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
